* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.user {
    padding: 20px;
    border: 1px solid crimson;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.width100 {
    width: 100%;
}
.post {
    padding: 20px;
    border: 1px solid teal;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.postList {
    width:100%;
    padding: 10px;
}
.postBtn {
    padding: 5px;
    cursor: pointer;
}
.padding2 {
    padding:2px;
}
.centered {
    text-align: center;
}
.margined {
    margin:5px;
}
.displayFlex {
    display: flex;
}
.postContainer {
    margin-top:20px;
    padding: 2px;
}
